
body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 1vw;
}

#logo {
    margin: 0px;    
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    width: 16%;
    text-shadow: 
    -1px -1px 0 rgb(62, 62, 62),  
     1px -1px 0 rgb(62, 62, 62),
    -1px  1px 0 rgb(62, 62, 62),
     1px  1px 0 rgb(62, 62, 62);
}

ul {
    margin: 0px;
}

body > header {
    background-color: orange;
    color: white;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 4px;
    border: 1px solid white;
    border-radius: 10%;
}

body > main article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 70%;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: rgb(255, 181, 45);
    display: flex;
}

#footer-ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

#footer-ul > div > li > a {
    text-decoration: none;
    color: white;
}

.Email-Contact {
    margin: 0px;
}

img {
    border-radius: 10%;
}